{{> header}}
<div class="container home some">
    <img class="det-img" src="{{imageURL}}" />
    <div class="desc">
        <h2 class="display-5">{{title}}</h2>
        <p class="infoType">Description:</p>
        <p class="idea-description">{{description}}</p>
        <p class="infoType">Likes: <large>{{likes}}</large>
        </p>
        <p class="infoType">Comments:</p>
        <ul>
            {{#if coment}}
            <li class="comment">{{comentOwner}}: {{coment}}</li>
            {{else}}
            <li class="comment">No comments yet :(</li>
            {{/if}}
        </ul>
    </div>
    {{#if isAuthor}}
    <div class="text-center">
        <a class="btn detb" href="#/delete/{{id}}">Delete</a>
    </div>
    {{else}}
    <form class="text-center" method="GET" action="#/comment/{{id}}">
        <textarea class="textarea-det" name="newComment" id="newComment"></textarea>
        <button type="submit" class="btn detb">Comment</button>
        {{#unless isLiked}}
        <a class="btn detb" href="#/like/{{id}}">Like</a>
        {{/unless}}
    </form>
    {{/if}}
</div>
{{>footer}}